/BankBalance.class
/BonusPoints.class
/CompoundAssignmentOperator.class
/Discount.class
/DivisibleBy5.class
/ElectricityBill.class
/EligibleForVoting.class
/EvenOrOdd.class
/ExamEligible.class
/ExamTime.class
/IncrementDecrement.class
/LargestNumber.class
/LogicalAnd.class
/LoginCredentials.class
/PositiveOrNegative.class
/SalaryIncrement.class
/SpeedLimit.class
/Stocks.class
/TwoDIgitPositive.class
