/armstrongNumber.class
/factorialNumber.class
/factorialOfDigits.class
/factorsOfAllDigits.class
/factorsOfNo.class
/lengthOfNo.class
/primeNo.class
/productOfNumber.class
/spyNumber.class
/sumOfDigits.class
/sunnyNumber.class
