/Lpattern.class
/diagonal.class
/diamondPattern.class
/holloeDiamond.class
/hollowBox.class
/horizontalParallelLines.class
/invertedTriangle.class
/leftL.class
/leftRangoli.class
/leftTrianglePattern.class
/rangoliPattern.class
/reverseDiagnol.class
/reverseL.class
/reverseRightL.class
/reverseRongoli.class
/reverseTriangle.class
/reverseTrianglePattern.class
/rightRangoli.class
/rightTriangle.class
/rightTrianglePattern.class
/standingParallelLines.class
/trianglePattern.class
/upsideDonTriangle.class
