/arraysCreation.class
/average.class
/copyArray.class
/dyanmicInitialization.class
/elementDivisibleBy5.class
/evenAverage.class
/evenIndex.class
/evenOddDiff.class
/evenSum.class
/evenelements.class
/firstlast.class
/oddElements.class
/oddIndex.class
/oddSum.class
/positiveeven.class
/primeElements.class
/reverseArray.class
/sumOfArrayelements.class
/twoDarray.class
/without.class
/withoutNewTwoD.class
